@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

body {
  overflow-x: hidden;
  color: white;
  background-color: #0f0f0f;
  font-family: Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

img,
picture,
svg,
canvas,
video {
  display: block;
  max-width: 100%;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  list-style-type: circle;
}
a {
  text-decoration: none;
  color: inherit;
}

input,
select {
  border: none;
  color: white;
  padding: 1rem 2rem;
  background-color: hsl(0, 0%, 10%);
}

h1 {
  font-size: clamp(2rem, 1.2958rem + 3.0047vw, 4rem);
  margin-bottom: 1rem;
  text-transform: capitalize;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

.header {
  padding: 1rem 3rem;
}

.nav {
  position: relative;
  gap: 1rem;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box {
  position: relative;
}

.search {
  border-radius: 50px;
  padding-inline: 3.5rem;
}
.burger {
  display: none;
  cursor: pointer;
}
.close {
  display: none;
  cursor: pointer;
}
.search-icon {
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  position: absolute;
}

main {
  gap: 1rem;
  display: flex;
  padding-inline: clamp(1rem, 0.6479rem + 1.5023vw, 2rem);
  padding-block: 3rem;
}

.box-1 {
  width: 15%;
}

.genres-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.9rem;
  font-weight: 400;
}

.genre-item {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.genre-img-container {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
}

.genre-img,
.game-img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.genre-img {
  object-position: center;
}

.genre-description {
  margin-bottom: 1rem;
  font-size: clamp(0.9rem, 0.8667rem + 0.1481vw, 1rem);
}

.box-2 {
  width: 85%;
}

.box-2 > div:nth-child(1) {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-block: 2rem;
}

.paginate {
  display: flex;
  gap: 2rem;
}

.order {
  border-radius: 10px;
}

.description {
  margin-bottom: 1rem;
}

.games-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem 1rem;
}

.game-item {
  border-radius: 10px;
  background-color: #252525;
  transition: transform 0.35s ease-in-out;
}

.game-img-container {
  height: 175px;
  overflow: hidden;
}

.game-img {
  object-position: top;
}

.game-data {
  padding: 1rem;
  position: relative;
}

.game-title {
  font-weight: 700;
  font-size: 1.2rem;
}

.game-data .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: top;
  margin-bottom: 0.75rem;
}

.game-platforms {
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
}

.rating {
  border: 1px solid transparent;
  padding-inline: 0.4rem;
  border-radius: 5px;
}

.hidden-data {
  background-color: #252525;
  opacity: 1;
  position: absolute;
  width: 100%;
  left: 0;
  padding: inherit;
  border-radius: 0 0 10px 10px;
  visibility: hidden;
  opacity: 0;
  transition: 0.25s ease-in-out;
}

.hidden-data li {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.hidden-data li {
  padding-block: 0.75rem;
  border-bottom: 1px solid hsl(0, 0%, 100%, 0.07);
}

.hidden-data-title {
  color: hsl(0, 0%, 100%, 0.4);
}

.hidden-data li:last-child {
  padding: 0;
  padding-top: 1rem;
  border: none;
}

.hidden-data div {
  text-align: right;
}
.hidden-data li > div > span:not(:last-child)::after {
  content: ", ";
}

.game-item:hover {
  z-index: 9999;
  transform: scale(1.02);
}

.game-item:hover .hidden-data {
  opacity: 1;
  visibility: visible;
}

.lds-ring {
  margin: auto;
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 819px) {
  .burger {
    display: block;
  }
  .box-1 {
    overflow-x: hidden;
    border-radius: 0px 0px 0px 20px;
    box-shadow: -2px -2px 5px 5px hsla(0, 0%, 50%, 0.2);
    z-index: 999999;
    max-height: 100vh;
    display: block;
    padding: 1rem;
    display: block;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateX(100%);
    opacity: 0;
    width: max-content;
    background-color: white;
    color: #333;
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 4rem;
  }
  h1 {
    text-align: center;
  }
  h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .close {
    display: block;
  }
  .open {
    opacity: 1;
    transform: translateX(0);
  }
  .box-2 {
    width: 100%;
  }
  .genre-item {
    flex-wrap: nowrap;
  }
  .games-list {
    display: flex;
    flex-direction: column;
  }
  .game-item {
    width: 500px;
    max-width: 100%;
    margin-inline: auto;
  }
}

@media (max-width: 547px) {
  .burger {
    order: 2;
  }
  .search-box {
    order: 3;
  }
}
@media (max-width: 503px) {
  .genre-description {
    text-align: center;
  }
  .nav {
    justify-content: center;
  }
  .burger {
    position: absolute;
    right: 0;
    top: 0;
  }
}
